.red-bg {
    background-color: rgb(248, 149, 138);
}

.green-bg {
    background: rgb(208, 250, 229);
}

.blue-bg {
    background: rgb(123, 178, 241);
}

.yellow-bg {
    background-color: rgb(245, 228, 131);
}

.purple-bg {
    background-color: rgb(222, 177, 252);
}